[report]
exclude_lines =
    if __name__ == '__main__':
    if __name__ == .__main__.:
    pragma: no cover
    except Exception:

[run]
source = formatter2
branch = True
omit =
    */nose/*
    */tests/*
    */pep8.py
    */tokenize_fork.py

